services:
  whisper-asr-webservice:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - ASR_MODEL=large-v3
      - ASR_ENGINE=whisperx
      - ASR_DEVICE=cpu
      - ASR_QUANTIZATION=int8
      - UVICORN_WORKERS=6
    ports:
      - "9000:9000"
    volumes:
      - ./app:/app/app
      - cache-whisper:/root/.cache

volumes:
  cache-whisper:
