services:
  whisper-asr-webservice:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ASR_MODEL=large-v2
      - ASR_ENGINE=faster_whisper
      - ASR_DEVICE=cpu
      - ASR_QUANTIZATION=int8
    ports:
      - "9000:9000"
    volumes:
      - ./app:/app/app
      - cache-whisper:/root/.cache

volumes:
  cache-whisper:
